@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:ro;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(241, 241, 241);
}

.container{
  max-width: 450px;
  width: 100%;
  background-color: #F6F2F0;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.1);
  border-radius: 22px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image{
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.image .profile-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #FEC89A;
}

.text{
  width: 100%;
  color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 18px;
  font-size: 20px;
}

.text .name{
  font-weight: 500;
}

.text .name{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
} 

.links{
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.links .link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  height: 45px;
  width: 45px;
  margin: 0 20px;
  color: #FEC89A;
  box-shadow: 2px 2px 10px 2px;
  border-radius: 50%;
}
